<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/stateview"><img src="https://th.bing.com/th?id=OIP.EgKv_kYRrr1TUwm2_rIIMgHaDR&w=350&h=154&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/stateview" >StateWise View <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/nationalview">National View</a>
        </li>
       
      </ul>
      
    </div>
  </nav>
